#p4 {
  transform: rotate(45deg) translate(37vw) rotate(-40deg);
}
#p2 {
  transform: rotate(67.5deg) translate(36vw) rotate(-67.5deg);
}

#p1 {
  transform: rotate(90deg) translate(35vw) rotate(-90deg);
}

#p3 {
  transform: rotate(112.5deg) translate(36vw) rotate(-112.5deg);
}

#p5 {
  transform: rotate(135deg) translate(37vw) rotate(-135deg);
}
.r4 {
  transform: rotate(-45deg); }

.r2 {
  transform: rotate(-15deg) ;}

.r1 {
  transform: rotate(0deg) ;}

.r3 {
  transform: rotate(15deg);
}
.r5 {
  transform: rotate(45deg);
}
