#table {}
html, body {margin: 0; height: 100%; overflow: hidden}
body {
  background: rgba(51, 0, 0, 1);
}

.circle-container {
  width: 75%;
  height: 37.5vw;
  /* as the half of the width */
  background-color: rgba(0, 153, 31, 0.8);
  border-bottom-left-radius: 23vw;
  /* 100px of height + 10px of border */
  border-bottom-right-radius: 23vw;
  /* 100px of height + 10px of border */
  border: 1vw solid black;
  border-top: 0;
  margin: auto;
  max width: 1200px;
  z-index: 1;
}

.circle-container span {
  display: block;
  position: absolute;
  top: -8%;
  left: 50%;
  width: 12vw;
  height: 12vw;
  margin: -2vw;
  z-index: 1;
}

.circle-container img {
  position: absolute;
  width: 3.5vw;
  height: 5.5vw;
  z-index: 10;
}

.text {
  float: left;
  border: 0.3vw solid rgb(51, 51, 0);
  margin: 0.5vw 1vw 0vw 2vw;
  background-color: rgba(153, 153, 0, 1);
  padding: 0.2vw;
  border-bottom-left-radius: 30vw;
  border-top-left-radius: 30vw;
  border-bottom-right-radius: 30vw;
  border-top-right-radius: 30vw;
  z-index: 5;
}

.text p {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.18vw;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  z-index: 1;
}

.deck {
  border: 0.3vw solid black;
  width: 3.5vw;
  height: 5.5vw;
  margin: 0vw 0vw 3vw 34vw;
  z-index: 1;
}

.dealersPole {
  border: 0.2vw solid black;
  width: 23vw;
  height: 5.5vw;
  margin: auto;
  margin-top: 1vw;
  padding: 0.5vw;
  float: left;
  z-index: 1;
}

.ring {
  border: 0.5vw solid black;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  z-index: 1;
}

#p4 {
  transform: rotate(45deg) translate(40vw) rotate(-40deg);
}


#p2 {
  transform: rotate(67.5deg) translate(39vw) rotate(-67.5deg);
}

#p1 {
  transform: rotate(90deg) translate(38vw) rotate(-90deg);
}

#p3 {
  transform: rotate(112.5deg) translate(39vw) rotate(-112.5deg);
}

#p5 {
  transform: rotate(135deg) translate(40vw) rotate(-135deg);
}
.r4 {
  transform: rotate(-45deg); }

.r2 {
  transform: rotate(-15deg) ;}

.r1 {
  transform: rotate(0deg) ;}

.r3 {
  transform: rotate(15deg);
}
.r5 {
  transform: rotate(45deg);
}

.inner-circle {
  position: absolute;
  border: 4vw solid black;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  /*
     Put top edge and left edge in the center
    */
  left: 31%;
  top: -30%;
  /*
     Offset the position correctly with
     minus half of the width and minus half of the height
    */
}
.button {
  background-color: #555555;
  border: none;
  padding: 1vw 3vw ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin: 6vw 1vw;
  cursor: pointer;
  float: left;
  z-index: 11;
  width: 10vw;
}
