
.table{
  width: 60%;
      height: 30vw; /* as the half of the width */
  background-color: lightgreen;
  border-bottom-left-radius: 30vw;  /* 100px of height + 10px of border */
  border-bottom-right-radius: 30vw; /* 100px of height + 10px of border */
  border: 20px solid gray;
  border-top: 0;
  margin: auto;

}
